div{
    width: 70%;
    min-height: 200px;
    background-color: darkred;
    .cajaroja{
        width:50%;
        min-height: 100px;
        background-color: darkseagreen;
        margin: auto;
        font-family: 'Courier New', Courier, monospace;
    }
}