%capahija{
    background-color: fuchsia;
    margin: 10px;
    padding: 20px;
    font-size: 1.8rem;
}

.contenedor{
    display: flex;
    background-color: dodgerblue;
    > div{
        @extend %capahija;
    }
}

.contenedorflex{
    margin-top: 20px;
    @extend %capahija;
    display: flex;
    background-color: dodgerblue;
}